# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/

# Logs
logs/
*.log

# Environment
.env
.env.local

# Database
*.db
*.sqlite

# Uploads
uploads/*
!uploads/.gitkeep

# PDFs
generated-pdfs/*
!generated-pdfs/.gitkeep

# IDE
.idea/
.vscode/
*.swp
